<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="erecruit TypeScript Translator" Language="1033" Version="0.7.5" Manufacturer="erecruit" UpgradeCode="734a7972-17cf-4ba8-8af7-8f9d3fe3853c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="erecruit TypeScript Translator" Level="1">
			<ComponentGroupRef Id="Components" />
		</Feature>

		<CustomAction Id='RescanVSExtensions12' Directory='VSINSTALLDIR12' ExeCommand='[VSINSTALLDIR12]devenv.exe /setup' Return='asyncNoWait'/>
		<CustomAction Id='RescanVSExtensions14' Directory='VSINSTALLDIR14' ExeCommand='[VSINSTALLDIR14]devenv.exe /setup' Return='asyncNoWait'/>
		
		<InstallExecuteSequence>
			<Custom Action='RescanVSExtensions12' After='InstallFinalize' />
			<Custom Action='RescanVSExtensions14' After='InstallFinalize' />
		</InstallExecuteSequence>

		<Property Id="VSINSTALLDIR12">
			<RegistrySearch Id="VSInstallRegistry12" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0" Name="InstallDir" Type="directory" />
		</Property>

		<Property Id="VSINSTALLDIR14">
			<RegistrySearch Id="VSInstallRegistry14" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0" Name="InstallDir" Type="directory" />
		</Property>

		<ComponentGroup Id="Components">
			<ComponentGroupRef Id="Files"/>
			<ComponentRef Id="Registry"/>
			<ComponentRef Id="MSBuildExtension"/>
		</ComponentGroup>
	</Product>
	
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="erecruitDir" Name="erecruit">
					<Directory Id="INSTALLFOLDER" Name="TsT">
						<Directory Id="BinDir" Name="bin" />
					</Directory>
				</Directory>

				<Directory Id="MSBuild" Name="MSBuild">
					<Directory Id="erecruitMSBuildDir" Name="erecruit">
						<Directory Id="TsTMSBuildDir" Name="TsT" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="VSINSTALLDIR12" Name="VS12">
				<Directory Name="Extensions" Id="VSExtensionsDir12">
					<Directory Name="erecruit" Id="VSExtensionsErecruitDir12">
						<Directory Name="TsT" Id="VsixDir12" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="VSINSTALLDIR14" Name="VS14">
				<Directory Name="Extensions" Id="VSExtensionsDir14">
					<Directory Name="erecruit" Id="VSExtensionsErecruitDir14">
						<Directory Name="TsT" Id="VsixDir14" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Component Id="Registry" Directory="INSTALLFOLDER">
			<RegistryKey Root="HKLM" Key="Software\erecruit\TsT" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
				<RegistryValue Type="string" Name="InstallDir" Value="[INSTALLFOLDER]"/>
			</RegistryKey>
		</Component>

		<Component Id="MSBuildExtension" Directory="TsTMSBuildDir">
			<File Name="erecruit.TsT.Targets" Source="$(var.ProjectDir)..\vs\erecruit.TsT.targets" />
		</Component>
	</Fragment>
</Wix>